@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.custom-bg{
    /* backdrop-filter: blur(11px); */
    background-color: white;
}

.logoslider .slick-track {
    align-items: center;
    display: flex;
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
.reviewSlider .slick-track{
    display: flex;
    gap: 20px;

}
.logo-slider button, .reviewSlider button{
    display: none;
}


.shape722 {
    display: none;
}


.sidemenubar {
    height: calc(100vh - 65px);
    position: relative;
    z-index: 99;
}
.overflow-y {
    overflow-y: auto;  
}
.overflow-y::-webkit-scrollbar {
      width:4px;
    }
  
    /* Track */
    .overflow-y::-webkit-scrollbar-track {
      background: #616161;
      border-radius: 4px;
    }
  
    /* Handle */
    .overflow-y::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 4px;
    }
  
    /* Handle on hover */
    .overflow-y::-webkit-scrollbar-thumb:hover {
      background: #555;
    } 
  .hoverimagecolorchnge img {
    fill: #fff;
  }

@media (min-width:1024px) {
    .shape722 {
        display: block;
    }   
}
.toggleSyllabus :last-child>p {
    position: relative;
    top: 15px;
  }

  .tabsliderlayout .swiper-wrapper .swiper-slide {
    width: fit-content;
}